/1_Works/Projects/GitHub/OakClub/OakClub.xcodeproj/project.xcworkspace/xcuserdata/
/1_Works/Projects/GitHub/OakClub/OakClub.xcodeproj/project.xcworkspace/xcuserdata/vanluu.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

OakClub.xcodeproj/xcuserdata/vanluu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
