<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>bikini_1</string>
		<string>bikini_2</string>
		<string>bikini_3</string>
		<string>bikini_4</string>
		<string>bikini_5</string>
		<string>bikini_6</string>
		<string>bikini_7</string>
		<string>bikini_8</string>
		<string>bikini_9</string>
		<string>flower_1</string>
		<string>flower_2</string>
		<string>flower_3</string>
		<string>flower_4</string>
		<string>flower_5</string>
		<string>flower_6</string>
		<string>Food_1</string>
		<string>Food_2</string>
		<string>Food_3</string>
		<string>Food_4</string>
		<string>Food_5</string>
		<string>Food_6</string>
		<string>Food_7</string>
		<string>gift01</string>
		<string>gift02</string>
		<string>gift03</string>
		<string>gift04</string>
		<string>gift05</string>
		<string>gift06</string>
		<string>gift07</string>
		<string>gift08</string>
		<string>gift09</string>
		<string>gift10</string>
		<string>gift11</string>
		<string>gift12</string>
		<string>gift13</string>
		<string>gift14</string>
		<string>gift15</string>
		<string>gift16</string>
		<string>gift17</string>
		<string>gift18</string>
		<string>gift19</string>
		<string>gift20</string>
		<string>gift21</string>
		<string>gift22</string>
		<string>Love_1</string>
		<string>Love_2</string>
		<string>Love_3</string>
		<string>Love_4</string>
		<string>Necklace_1</string>
		<string>Necklace_2</string>
		<string>Necklace_3</string>
		<string>Necklace_4</string>
		<string>Necklace_5</string>
		<string>Ring_1</string>
		<string>Ring_2</string>
		<string>Ring_3</string>
		<string>Ring_4</string>
		<string>Ring_5</string>
		<string>Ring_6</string>
		<string>Ring_7</string>
		<string>Ring_8</string>
		<string>Ring_9</string>
		<string>Ring_10</string>
		<string>Ring_11</string>
		<string>Ring_12</string>
	</array>
	<dict>
		<key>bikini_1</key>
		<string>bikini_1.png</string>
		<key>bikini_2</key>
		<string>bikini_2.png</string>
		<key>bikini_3</key>
		<string>bikini_3.png</string>
		<key>bikini_4</key>
		<string>bikini_4.png</string>
		<key>bikini_5</key>
		<string>bikini_5.png</string>
		<key>bikini_6</key>
		<string>bikini_6.png</string>
		<key>bikini_7</key>
		<string>bikini_7.png</string>
		<key>bikini_8</key>
		<string>bikini_8.png</string>
		<key>bikini_9</key>
		<string>bikini_9.png</string>
		<key>flower_1</key>
		<string>flower_1.png</string>
		<key>flower_2</key>
		<string>flower_2.png</string>
		<key>flower_3</key>
		<string>flower_3.png</string>
		<key>flower_4</key>
		<string>flower_4.png</string>
		<key>flower_5</key>
		<string>flower_5.png</string>
		<key>flower_6</key>
		<string>flower_6.png</string>
		<key>Food_1</key>
		<string>Food_1.png</string>
		<key>Food_2</key>
		<string>Food_2.png</string>
		<key>Food_3</key>
		<string>Food_3.png</string>
		<key>Food_4</key>
		<string>Food_4.png</string>
		<key>Food_5</key>
		<string>Food_5.png</string>
		<key>Food_6</key>
		<string>Food_6.png</string>
		<key>Food_7</key>
		<string>Food_7.png</string>
		<key>gift01</key>
		<string>gift01.png</string>
		<key>gift02</key>
		<string>gift02.png</string>
		<key>gift03</key>
		<string>gift03.png</string>
		<key>gift04</key>
		<string>gift04.png</string>
		<key>gift05</key>
		<string>gift05.png</string>
		<key>gift06</key>
		<string>gift06.png</string>
		<key>gift07</key>
		<string>gift07.png</string>
		<key>gift08</key>
		<string>gift08.png</string>
		<key>gift09</key>
		<string>gift09.png</string>
		<key>gift10</key>
		<string>gift10.png</string>
		<key>gift11</key>
		<string>gift11.png</string>
		<key>gift12</key>
		<string>gift12.png</string>
		<key>gift13</key>
		<string>gift13.png</string>
		<key>gift14</key>
		<string>gift14.png</string>
		<key>gift15</key>
		<string>gift15.png</string>
		<key>gift16</key>
		<string>gift16.png</string>
		<key>gift17</key>
		<string>gift17.png</string>
		<key>gift18</key>
		<string>gift18.png</string>
		<key>gift19</key>
		<string>gift19.png</string>
		<key>gift20</key>
		<string>gift20.png</string>
		<key>gift21</key>
		<string>gift21.png</string>
		<key>gift22</key>
		<string>gift22.png</string>
		<key>Love_1</key>
		<string>Love_1.png</string>
		<key>Love_2</key>
		<string>Love_2.png</string>
		<key>Love_3</key>
		<string>Love_3.png</string>
		<key>Love_4</key>
		<string>Love_4.png</string>
		<key>Necklace_1</key>
		<string>Necklace_1.png</string>
		<key>Necklace_2</key>
		<string>Necklace_2.png</string>
		<key>Necklace_3</key>
		<string>Necklace_3.png</string>
		<key>Necklace_4</key>
		<string>Necklace_4.png</string>
		<key>Necklace_5</key>
		<string>Necklace_5.png</string>
		<key>Ring_1</key>
		<string>Ring_1.png</string>
		<key>Ring_2</key>
		<string>Ring_2.png</string>
		<key>Ring_3</key>
		<string>Ring_3.png</string>
		<key>Ring_4</key>
		<string>Ring_4.png</string>
		<key>Ring_5</key>
		<string>Ring_5.png</string>
		<key>Ring_6</key>
		<string>Ring_6.png</string>
		<key>Ring_7</key>
		<string>Ring_7.png</string>
		<key>Ring_8</key>
		<string>Ring_8.png</string>
		<key>Ring_9</key>
		<string>Ring_9.png</string>
		<key>Ring_10</key>
		<string>Ring_10.png</string>
		<key>Ring_11</key>
		<string>Ring_11.png</string>
		<key>Ring_12</key>
		<string>Ring_12.png</string>
	</dict>
</array>
</plist>
