<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>angry</string>
		<string>ble</string>
		<string>brickU</string>
		<string>byebye</string>
		<string>cold</string>
		<string>cry</string>
		<string>dance</string>
		<string>depressed</string>
		<string>die</string>
		<string>dinner</string>
		<string>dont_cry</string>
		<string>dontbescare</string>
		<string>dontleave</string>
		<string>errrr</string>
		<string>fail</string>
		<string>haha</string>
		<string>hi</string>
		<string>hot</string>
		<string>iluvu</string>
		<string>kissU</string>
		<string>lick</string>
		<string>look_down</string>
		<string>love</string>
		<string>missu</string>
		<string>panic</string>
		<string>peep</string>
		<string>pig</string>
		<string>proud</string>
		<string>see_star</string>
		<string>sendGilf</string>
		<string>shame</string>
		<string>sleep</string>
		<string>sleep2</string>
		<string>smile</string>
		<string>so_sick</string>
		<string>sohot</string>
		<string>sunset</string>
		<string>surprise</string>
		<string>sweat</string>
		<string>sweet_kiss</string>
		<string>yoh</string>
	</array>
	<dict>
		<key>angry</key>
		<string>angry.png</string>
		<key>ble</key>
		<string>ble.png</string>
		<key>brickU</key>
		<string>brickU.png</string>
		<key>byebye</key>
		<string>byebye.png</string>
		<key>cold</key>
		<string>cold.png</string>
		<key>cry</key>
		<string>cry.png</string>
		<key>dance</key>
		<string>dance.png</string>
		<key>depressed</key>
		<string>depressed.png</string>
		<key>die</key>
		<string>die.png</string>
		<key>dinner</key>
		<string>dinner.png</string>
		<key>dont_cry</key>
		<string>dont_cry.png</string>
		<key>dontbescare</key>
		<string>dontbescare.png</string>
		<key>dontleave</key>
		<string>dontleave.png</string>
		<key>errrr</key>
		<string>errrr.png</string>
		<key>fail</key>
		<string>fail.png</string>
		<key>haha</key>
		<string>haha.png</string>
		<key>hi</key>
		<string>hi.png</string>
		<key>hot</key>
		<string>hot.png</string>
		<key>iluvu</key>
		<string>iluvu.png</string>
		<key>kissU</key>
		<string>kissU.png</string>
		<key>lick</key>
		<string>lick.png</string>
		<key>look_down</key>
		<string>look_down.png</string>
		<key>love</key>
		<string>love.png</string>
		<key>missu</key>
		<string>missu.png</string>
		<key>panic</key>
		<string>panic.png</string>
		<key>peep</key>
		<string>peep.png</string>
		<key>pig</key>
		<string>pig.png</string>
		<key>proud</key>
		<string>proud.png</string>
		<key>see_star</key>
		<string>see_star.png</string>
		<key>sendGilf</key>
		<string>sendGilf.png</string>
		<key>shame</key>
		<string>shame.png</string>
		<key>sleep</key>
		<string>sleep.png</string>
		<key>sleep2</key>
		<string>sleep2.png</string>
		<key>smile</key>
		<string>smile.png</string>
		<key>so_sick</key>
		<string>so_sick.png</string>
		<key>sohot</key>
		<string>sohot.png</string>
		<key>sunset</key>
		<string>sunset.png</string>
		<key>surprise</key>
		<string>surprise.png</string>
		<key>sweat</key>
		<string>sweat.png</string>
		<key>sweet_kiss</key>
		<string>sweet_kiss.png</string>
		<key>yoh</key>
		<string>yoh.png</string>
	</dict>
</array>
</plist>
