<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Near Now</string>
	<string>Snapshots</string>
	<string>Chat</string>
	<string>My Links</string>
	<string>Visitors</string>
	<string>Invite</string>
	<string>Get Points</string>
	<string>Logout</string>
</array>
</plist>
